In [1]:
from experiment.utils import dbutils

In [2]:
db = dbutils.DatabaseUtils()

In [3]:
# task list
selected_tasks: list = [224738, 221734]

# default DWH
query = f"SELECT id, data ->> 'text' as text FROM annotation.tasks LIMIT 10"

# retrieve values from the database
values = db.read_sql_query(query, output_format="dataframe")
values.head()

       id                                               text
0  235373  REPORT DATE: 27.09.2021    FILM NO: \n\nBrain ...
1  235415  REPORT DATE: 09.08.2021     FILM NUMBER:\n\nBR...
2  235568  The evaluated findings should be compared with...
3  235446  REPORT DATE: 02.06.2022    FILM NO:\n\nIn the ...
4  235569  The results were similar to a Brain MRI perfor...

In [4]:
values.shape

(10, 2)

In [5]:
# retrieve table size
values = db.get_table_size_by_table_name(
    table="tasks", schema="annotation", database="report_labeling"
)
values

2296

In [6]:
# select table by columns
columns = ["id", "data ->> 'text'"]
values = db.select_table_by_columns(
    columns, table="tasks", schema="annotation", database="report_labeling"
)
values

          id                                           ?column?
0     235373  REPORT DATE: 27.09.2021    FILM NO: \n\nBrain ...
1     235415  REPORT DATE: 09.08.2021     FILM NUMBER:\n\nBR...
2     235568  The evaluated findings should be compared with...
3     235446  REPORT DATE: 02.06.2022    FILM NO:\n\nIn the ...
4     235569  The results were similar to a Brain MRI perfor...
...      ...                                                ...
2291  235471  REPORT DATE: 27/07/2022   FILM NO: 12723982\n\...
2292  235472  REPORT DATE: 04/01/2022            CASE NUMBER...
2293  235474  REPORT DATE: 18/04/2023  FILM NO:\n\nBRAIN ANG...
2294  235530  Date of the Report: 31/03/2022   Film Number: ...
2295  235475  REPORT DATE: 26.11.2021    FILM NO: 12386441\n...

[2296 rows x 2 columns]

In [7]:
# filter
query = """
            SELECT * from runs
        """

# get values from the database
values = db.read_sql_query(query, db_name="ml_experiment")
values.head()

,run_uuid,name,source_type,source_name,entry_point_name,user_id,status,start_time,end_time,source_version,lifecycle_stage,artifact_uri,experiment_id,deleted_time
0,0608b90ca8d7449c893bb4da540ea382,RNN: first_run,UNKNOWN,,,Göktuğ Aşcı,FINISHED,1693643690648,1693643717180,,active,s3://ml-experiment-reports/mlartifacts/0608b90...,1,None