In [2]:
from experiment.utils import dbutils
from experiment.utils.logging import logger

In [3]:
db = dbutils.DatabaseUtils()

In [5]:
# task list
selected_tasks: list = [224738, 221734]

# default DWH
query = f"SELECT * FROM annotation.report_classifications"

# retrieve values from the database
values = db.read_sql_query(query, output_format="dataframe")
values.head()

,annotation_id,choice,annotation_value_flag,translated_text,from_name,project_id,task_id
0,5Dm_arYOUF,"[""Exclude""]",0,REPORT DATE: 27.09.2021 FILM NO: \n\nBrain ...,exclude,7,235373
1,N24bVRUkwD,"[""Non Emergency [Doctor]""]",4,REPORT DATE: 09.08.2021 FILM NUMBER:\n\nBR...,severity,7,235415
2,Oh2mC3PbYm,"[""Exclude""]",0,The evaluated findings should be compared with...,exclude,7,235568
3,RB_-ndT6eb,"[""Emergency""]",1,REPORT DATE: 02.06.2022 FILM NO:\n\nIn the ...,severity,7,235446
4,gcx5BQlMPp,"[""Exclude""]",0,The results were similar to a Brain MRI perfor...,exclude,7,235569

In [6]:
values.shape

(862, 7)

In [9]:
# retrieve table size
values = db.get_table_size_by_table_name(
    table="report_classifications", schema="annotation", database="report_labeling"
)
values

862

In [15]:
# select table by columns
columns = [
    "annotation_id",
    "choice",
    "annotation_value_flag",
    "translated_text",
    "from_name"
]
values = db.select_table_by_columns(
    columns,
    table="report_classifications",
    schema="annotation",
    database="report_labeling",
)
values

,annotation_id,choice,annotation_value_flag,translated_text,from_name
0,5Dm_arYOUF,"[""Exclude""]",0,REPORT DATE: 27.09.2021 FILM NO: \n\nBrain ...,exclude
1,N24bVRUkwD,"[""Non Emergency [Doctor]""]",4,REPORT DATE: 09.08.2021 FILM NUMBER:\n\nBR...,severity
2,Oh2mC3PbYm,"[""Exclude""]",0,The evaluated findings should be compared with...,exclude
3,RB_-ndT6eb,"[""Emergency""]",1,REPORT DATE: 02.06.2022 FILM NO:\n\nIn the ...,severity
4,gcx5BQlMPp,"[""Exclude""]",0,The results were similar to a Brain MRI perfor...,exclude
...,...,...,...,...,...
857,UMPKg9werF,"[""Normal""]",2,DATE OF EXAMINATION: 22.02.2023 FILM NUMBE...,severity
858,1SsbUFhyxI,"[""Non Emergency [No Doctor]""]",3,The sections were continuously obtained in the...,severity
859,d6oJQ3O9i6,"[""Normal""]",2,REPORT DATE: 29/11/2022 \nFILM NUMBER: 1291620...,severity
860,8gF0AXYvpe,"[""Normal""]",2,DATE OF EXAMINATION: 13.06.2023 FILM NO: 13...,severity
861,RF9NCAfl-o,"[""Normal""]",2,REPORT DATE: 08/26/2022 FILM NUMBER:\n\nBrai...,severity

In [ ]:
# filter
query = """
            SELECT * from runs
        """

# get values from the database
values = db.read_sql_query(query, db_name="ml_experiment")
values.head()