In [1]:
import experiment.utils.query as query_utils

In [2]:
# task list
selected_tasks: list = [224738, 221734]

# default DWH
query = f"SELECT id, data ->> 'text' as text FROM task WHERE id {query_utils.get_sql_tuple(selected_tasks)}"

# retrieve values from the database
values = query_utils.get_select_values(query, output_format="dataframe")
values.head()

       id                                               text
0  221734  Beyin BT  Kafa kaidesi ve kalvarial kemik yapı...
1  224738  Kafa tabanı ve verteks arasından elde olunan k...

In [ ]:
values.shape

(1, 9)

In [5]:
# filter
query = """
            SELECT * from runs
        """

# get values from the database
values = query_utils.get_select_values(query, db_name="ml_experiment")
values.head()

Empty DataFrame
Columns: [run_uuid, name, source_type, source_name, entry_point_name, user_id, status, start_time, end_time, source_version, lifecycle_stage, artifact_uri, experiment_id, deleted_time]
Index: []