In [1]:
from experiment.utils import dbutils

In [2]:
db = dbutils.DatabaseUtils()

In [3]:
# task list
selected_tasks: list = [224738, 221734]

# default DWH
query = f"SELECT id, data ->> 'text' as text FROM task LIMIT 10"

# retrieve values from the database
values = db.read_sql_query(query, output_format="dataframe")
values.head()

       id                                               text
0  235373  REPORT DATE: 27.09.2021    FILM NO: \n\nBrain ...
1  235415  REPORT DATE: 09.08.2021     FILM NUMBER:\n\nBR...
2  235443  REPORT DATE: 01/11/2022   FILM NO:\n\nUnenhanc...
3  235569  The results were similar to a Brain MRI perfor...
4  235375  REPORT DATE: 04.01.2022 FILM NO:\n\nBrain CT;\...

In [4]:
values.shape

(10, 2)

In [5]:
# filter
query = """
            SELECT * from runs
        """

# get values from the database
values = db.read_sql_query(query, db_name="ml_experiment")
values.head()

,run_uuid,name,source_type,source_name,entry_point_name,user_id,status,start_time,end_time,source_version,lifecycle_stage,artifact_uri,experiment_id,deleted_time
0,0608b90ca8d7449c893bb4da540ea382,RNN: first_run,UNKNOWN,,,Göktuğ Aşcı,FINISHED,1693643690648,1693643717180,,active,s3://ml-experiment-reports/mlartifacts/0608b90...,1,None
1,d592723f1c0c47748497cc8a95c59653,RNN: first_run,UNKNOWN,,,Oytun Demirbilek,FINISHED,1693650629379,1693650640725,,active,s3://ml-experiment-reports/mlartifacts/d592723...,1,None