In [8]:
import experiment.utils.query as query_utils

In [9]:
# filter
query = """
            --SELECT * FROM project p

            SELECT * FROM tasks_annotationdraft ta 

            --SELECT * FROM task t
        """

# get values from the database
values = query_utils.get_select_values(query)
values.head()

,id,result,lead_time,created_at,updated_at,annotation_id,task_id,user_id,was_postponed
0,31,"[{'id': 'CYfPc9T_Ft', 'type': 'labels', 'value...",18.787,2023-08-05 17:46:59.343024+00:00,2023-08-05 17:46:59.343037+00:00,NaN,185070,18,False
1,37,"[{'id': '2_xCl4Xmta', 'type': 'labels', 'value...",90.032,2023-08-07 18:02:15.416793+00:00,2023-08-07 18:02:23.740920+00:00,15.0,185015,1,False

In [ ]:
values.shape

In [6]:
# default DWH
query = "SELECT * FROM tasks_annotationdraft ta WHERE TRUE"

# study list
task_annotations: list = [31]

# filter by a Python list
query_latest = (
    query_utils.filter_by_column(
        query=query,
        column_name="id",
        column_items=task_annotations,
    )
)

# retrieve values from the database
values = query_utils.get_select_values(query_latest, output_format="dataframe")
values.head()

,id,result,lead_time,created_at,updated_at,annotation_id,task_id,user_id,was_postponed
0,31,"[{'id': 'CYfPc9T_Ft', 'type': 'labels', 'value...",18.787,2023-08-05 17:46:59.343024+00:00,2023-08-05 17:46:59.343037+00:00,None,185070,18,False

In [7]:
values.shape

(1, 9)